# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.*

# Database
database.sqlite
*.sqlite

# Build output
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal
database.sqlite
database.sqlite-shm
database.sqlite-wal